</div>
<br />
<div style='clear:right;'></div>
<div id='footer'>
	<div id='footer_menu'>footer links:
	<a href='{$smarty.const.BASE_PATH}/articles/'>articles</a> :: 
	<a href='{$smarty.const.BASE_PATH}/comments/'>comments</a> :: 
		<div style='float:right'>Powered by <a href='http://bbframe.com'>bbframe</a> 0.1 - <small>{$executionTime} sec</small></div>  
	</div>
</div>
<!-- 
{literal} 
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-263805-9']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{/literal} --> 
</body>
</html>